# Topic 1. Exploratory data analysis with Pandas.

In [1]:
# Import libraries.
import numpy as np
import pandas as pd

In [3]:
# Load csv file.
df = pd.read_csv("../dataset/time_series_covid19_confirmed_global.csv")
df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,11,16,21,22,22,22,24,24,40,40
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,38,42,51,55,59,64,70,76,89,104
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,37,48,54,60,74,87,90,139,201,230
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,1,1,2,39,39,53,75,88,113,133
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2,2,3

In [4]:
# Shape of the dataframe.
df.shape

(238, 66)

In [7]:
# Columns.
df.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20'],
      dtype='object')

In [11]:
# We can use the info() method to output some general information about the dataframe:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 66 columns):
Province/State    74 non-null object
Country/Region    238 non-null object
Lat               238 non-null float64
Long              238 non-null float64
1/22/20           238 non-null int64
1/23/20           238 non-null int64
1/24/20           238 non-null int64
1/25/20           238 non-null int64
1/26/20           238 non-null int64
1/27/20           238 non-null int64
1/28/20           238 non-null int64
1/29/20           238 non-null int64
1/30/20           238 non-null int64
1/31/20           238 non-null int64
2/1/20            238 non-null int64
2/2/20            238 non-null int64
2/3/20            238 non-null int64
2/4/20            238 non-null int64
2/5/20            238 non-null int64
2/6/20            238 non-null int64
2/7/20            238 non-null int64
2/8/20            238 non-null int64
2/9/20            238 non-null int64
2/10/20           238 non-null int64
2/11/20           238 non-null int64
2/12/20           238 non-null int64
2/13/20           238 non-null int64
2/14/20           238 non-null int64
2/15/20           238 non-null int64
2/16/20           238 non-null int64
2/17/20           238 non-null int64
2/18/20           238 non-null int64
2/19/20           238 non-null int64
2/20/20           238 non-null int64
2/21/20           238 non-null int64
2/22/20           238 non-null int64
2/23/20           238 non-null int64
2/24/20           238 non-null int64
2/25/20           238 non-null int64
2/26/20           238 non-null int64
2/27/20           238 non-null int64
2/28/20           238 non-null int64
2/29/20           238 non-null int64
3/1/20            238 non-null int64
3/2/20            238 non-null int64
3/3/20            238 non-null int64
3/4/20            238 non-null int64
3/5/20            238 non-null int64
3/6/20            238 non-null int64
3/7/20            238 non-null int64
3/8/20            238 non-null int64
3/9/20            238 non-null int64
3/10/20           238 non-null int64
3/11/20           238 non-null int64
3/12/20           238 non-null int64
3/13/20           238 non-null int64
3/14/20           238 non-null int64
3/15/20           238 non-null int64
3/16/20           238 non-null int64
3/17/20           238 non-null int64
3/18/20           238 non-null int64
3/19/20           238 non-null int64
3/20/20           238 non-null int64
3/21/20           238 non-null int64
3/22/20           238 non-null int64
3/23/20           238 non-null int64
dtypes: float64(2), int64(62), object(2)
memory usage: 122.8+ KB

In [12]:
# We can change the column type with the astype method. 
df["Lat"] = df["Lat"].astype("int64")

In [14]:
# The describe method shows basic statistical characteristics of each numerical feature.
df.describe()

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
count,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,...,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000
mean,21.701681,25.862743,2.331933,2.747899,3.953782,6.025210,8.899160,12.298319,23.436975,25.907563,...,655.899160,703.588235,762.911765,828.361345,902.978992,1019.773109,1143.546218,1279.491597,1416.340336,1590.533613
std,24.425882,70.957853,28.835689,28.936193,36.017254,50.120523,70.035964,94.357741,231.648874,233.036007,...,4718.912437,4818.905841,4938.159871,5080.109910,5270.653646,5576.276863,5947.705774,6398.487874,6858.958946,7497.352027
min,-41.000000,-123.120700,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000000,-13.263450,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,2.000000,3.000000,3.250000,6.000000,6.250000,10.250000,12.250000
50%,24.000000,21.758700,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,11.500000,17.500000,20.500000,30.500000,36.500000,48.000000,64.000000,75.000000,83.000000,92.000000
75%,41.000000,89.523100,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,110.750000,123.500000,145.000000,171.750000,193.500000,237.000000,280.000000,306.750000,361.000000,403.500000
max,71.000000,178.065000,444.000000,444.000000,549.000000,761.000000,1058.000000,1423.000000,3554.000000,3554.000000,...,67790.000000,67794.000000,67798.000000,67799.000000,67800.000000,67800.000000,67800.000000,67800.000000,67800.000000,67800.000000